In [46]:
! pip install Selenium

Requirement already satisfied: Selenium in c:\users\dell\appdata\local\anaconda3\lib\site-packages (4.15.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from Selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from Selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from Selenium) (0.23.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from Selenium) (2022.12.7)
Requirement already satisfied: outcome in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (22.1.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.1.3)
Requirement already satisfied: sortedcontainers in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: idna in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.4)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [47]:
#1
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
import warnings
warnings.filterwarnings("ignore")
import time

In [48]:
driver = webdriver.Chrome()

In [49]:
driver.get("https://www.shine.com/")

In [52]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Analyst")

In [53]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [54]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [55]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [56]:
job_title = []
jobtitle = driver.find_elements(By.TAG_NAME,"h2")
for i in jobtitle[:10]:
    job_title.append(i.text)

In [57]:
job_location = [] 
a = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists__fdnsc"]/div[2]')
for i in a[:10]:
    b = i.text.split("\n")[0]
    job_location.append(b)

In [65]:
company_name = [] 
a = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span') 
for i in a[:10]:
    b = i.text.split("\n")[0]
    company_name.append(b)

In [67]:
experience_required = [] 
a = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]') 
for i in a[:10]:
    b = i.text.split("\n")[0]
    experience_required.append(b)

In [68]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [69]:
import pandas as pd 
df = pd.DataFrame({"Job Title":job_title, "Job Location":job_location, "Company":company_name, "Experience Required":experience_required})
df

,Job Title,Job Location,Company,Experience Required
0,Computer Systems Analyst,Bangalore,v-tech data outsourcing,0 to 2 Yrs
1,Full time opportunity for Business Process & S...,Bangalore,ntt data information processing ser...,3 to 8 Yrs
2,Data Management Analyst,Bangalore,v-tech data outsourcing,0 to 2 Yrs
3,"Data Entry Operator,Computer Typist",Bangalore,ur infotech hiring for data entry,1 to 6 Yrs
4,System Administration Analyst,Bangalore,ntt data information processing ser...,3 to 6 Yrs
5,Data Analyst Vacancy,Bangalore,divya interprises,0 to 4 Yrs
6,How relevant did you find the job search resul...,Bangalore,divya interprises,0 to 4 Yrs
7,Data Analyst Vacancy,Bangalore,v-tech data outsourcing,0 to 2 Yrs
8,Data Entry Specialist,Bangalore,v-tech data outsourcing,0 to 2 Yrs
9,Data Engineer karnataka,Bangalore,always international manpower servi...,1 to 5 Yrs

In [70]:
! pip install Selenium

Requirement already satisfied: Selenium in c:\users\dell\appdata\local\anaconda3\lib\site-packages (4.15.1)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from Selenium) (0.11.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from Selenium) (1.26.14)
Requirement already satisfied: trio~=0.17 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from Selenium) (0.23.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from Selenium) (2022.12.7)
Requirement already satisfied: idna in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (3.4)
Requirement already satisfied: attrs>=20.1.0 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (22.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.15.1)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.1.3)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.0)
Requirement already satisfied: outcome in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.3.0.post0)
Requirement already satisfied: sortedcontainers in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.4.0)
Requirement already satisfied: wsproto>=0.14 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from trio-websocket~=0.9->Selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->Selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\dell\appdata\local\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->Selenium) (0.14.0)

In [71]:
#2
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
import warnings
warnings.filterwarnings("ignore")
import time

In [72]:
driver = webdriver.Chrome()

In [73]:
driver.get("https://www.shine.com/")

In [74]:
designation = driver.find_element(By.CLASS_NAME,"form-control  ")
designation.send_keys("Data Scientist")

In [77]:
location = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input")
location.send_keys("Bangalore")

In [78]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [79]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [82]:
job_title = []
jobtitle = driver.find_elements(By.TAG_NAME,"h2")
for i in jobtitle[:10]:
    job_title.append(i.text)

In [83]:
job_location = [] 
a = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists__fdnsc"]/div[2]')
for i in a[:10]:
    b = i.text.split("\n")[0]
    job_location.append(b)

In [84]:
company_name = [] 
a = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span') 
for i in a[:10]:
    b = i.text.split("\n")[0]
    company_name.append(b)

In [85]:
experience_required = [] 
a = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]') 
for i in a[:10]:
    b = i.text.split("\n")[0]
    experience_required.append(b)

In [86]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [87]:
import pandas as pd 
df = pd.DataFrame({"Job Title":job_title, "Job Location":job_location, "Company":company_name, "Experience Required":experience_required})
df

,Job Title,Job Location,Company,Experience Required
0,Data Scientist Vacancy,Bangalore,divya interprises,0 to 4 Yrs
1,Data Scientist Urgent Recruitment,Bangalore,divya interprises,0 to 4 Yrs
2,Data Scientist- Bangalore,Bangalore,the fashion cosmo,0 to 3 Yrs
3,Data Scientist AI ML CV,Bangalore,bosch group,3 to 5 Yrs
4,Data Scientist AI ML NLP,Bangalore,bosch group,3 to 5 Yrs
5,Phd Data Scientist,Bangalore,bosch group,2 to 5 Yrs
6,How relevant did you find the job search resul...,Bangalore,shiva hr services,0 to 3 Yrs
7,Data Scientist-Bangalore,Bangalore,divya interprises,0 to 4 Yrs
8,Hiring For Data Scientist,Bangalore,racanaa energy solution private lim...,3 to 6 Yrs
9,Data Scientist,Bangalore,true caller,8 to 12 Yrs

In [102]:
#3
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
import warnings
warnings.filterwarnings("ignore")
import time

In [128]:
driver = webdriver.Chrome()

In [129]:
driver.get("https://www.shine.com/")

In [132]:
designation = driver.find_element(By.CLASS_NAME, "form-control  ")
designation.send_keys("Data Scientist")

In [134]:
search = driver.find_element(By.XPATH,"/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button")
search.click()

In [138]:
loc_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
loc_filter.send_keys("Delhi")

In [139]:
option = driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
option.click()

In [140]:
q = driver.find_element(By.XPATH,'//div[@class="filter_btnWrap__5ToWy"]/button[2]')
q.click()

In [141]:
search =  driver.find_element(By.XPATH, '/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[1]/input')
search.send_keys("3 To 5 Lakh")

In [142]:
x =  driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/div[3]/div/div[1]/div/div[2]/div[2]/div/div/div/div[3]/div/div/div/ul/li[2]/span/label')
x.click()

In [143]:
submit = driver.find_element(By.XPATH,'//div[@class="filter_btnWrap__5ToWy"]/button[2]')
submit.click()

In [144]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [145]:
job_title = []
jobtitle = driver.find_elements(By.TAG_NAME,"h2")
for i in jobtitle[:10]:
    job_title.append(i.text)

In [146]:
job_location = [] 
a = driver.find_elements(By.XPATH, '//div[@class="jobCard_jobCard_lists__fdnsc"]/div[2]')
for i in a[:10]:
    b = i.text.split("\n")[0]
    job_location.append(b)

In [147]:
company_name = [] 
a = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span') 
for i in a[:10]:
    b = i.text.split("\n")[0]
    company_name.append(b)

In [148]:
experience_required = [] 
a = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]') 
for i in a[:10]:
    b = i.text.split("\n")[0]
    experience_required.append(b)

In [149]:
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [150]:
import pandas as pd 
df = pd.DataFrame({"Job Title":job_title, "Job Location":job_location, "Company":company_name, "Experience Required":experience_required})
df

,Job Title,Job Location,Company,Experience Required
0,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
1,Data Scientist-Delhi,Delhi,shiva hr services,0 to 3 Yrs
2,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
3,Data Scientist- Delhi,Delhi,the fashion cosmo,0 to 3 Yrs
4,Data Scientist,Delhi,acme services private limited,3 to 5 Yrs
5,Data Scientist,Delhi,quiscon biotech,0 to 1 Yr
6,How relevant did you find the job search resul...,Delhi,techno endura,0 to 1 Yr
7,Clinical Data Analyst,Delhi,acme services private limited,3 to 5 Yrs
8,Data Scientist,Delhi,v-tech data outsourcing,0 to 2 Yrs
9,Data Modeler,Delhi,national seeds corporation limited,1 to 6 Yrs

In [168]:
#4
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [169]:
driver = webdriver.Chrome()

In [170]:
driver.get("https://www.flipkart.com/")

In [171]:
search = driver.find_element(By.XPATH,'//div[@class="_2SmNnR"]/input')
search.send_keys("sunglasses")
search.send_keys(Keys.ENTER)

In [183]:
brand = []
start = 0
end = 3
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, '_2WkVRV')
    for i in a[:100]:
        brand.append(i.text)
    next =  driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next.click() 
    time.sleep(3)
    
brand = brand[:100]
len(brand)

100

In [185]:
prod_desc = []
start = 0
end = 3
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, 'IRpwTa')
    for i in a[:100]:
        prod_desc.append(i.text)
    next =  driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next.click() 
    time.sleep(3)
    
prod_desc = prod_desc[:100]
len(prod_desc)

100

In [188]:
price = []
start = 0
end = 3
for page in range(start, end):
    a = driver.find_elements(By.XPATH, '//div[@class="_25b18c"]/div[1]')
    for i in a[:100]:
        price.append(i.text)
    next =  driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next.click() 
    time.sleep(3)
    
price = price[:100]
len(price)

100

In [189]:
import pandas as pd 
df = pd.DataFrame({"Brand":brand, "Product Description":prod_desc, "Price":price,})
df

            Brand                                Product Description Price
0      iCopertina  Riding Glasses, UV Protection Clubmaster, Wayf...  ₹140
1      iCopertina  Polarized, UV Protection Retro Square Sunglass...  ₹799
2       Rich Club             UV Protection Wayfarer Sunglasses (58)  ₹561
3          GANSTA             UV Protection Wayfarer Sunglasses (50)  ₹187
4   VINCENT CHASE   UV Protection Rectangular Sunglasses (Free Size)  ₹288
..            ...                                                ...   ...
95         PIRASO    UV Protection Aviator, Wayfarer Sunglasses (54)  ₹279
96  Nicole Miller              Polarized Rectangular Sunglasses (60)  ₹539
97     iCopertina                 Polarized Wayfarer Sunglasses (55)  ₹219
98       Roadster              UV Protection Aviator Sunglasses (62)  ₹362
99  VINCENT CHASE  UV Protection Wayfarer, Sports, Spectacle , Re...   ₹79

[100 rows x 3 columns]

In [190]:
#5
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [199]:
driver = webdriver.Chrome()

In [200]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&market")

In [204]:
rating = []
start = 0
end = 10
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, '_3LWZlK._1BLPMq')
    for i in a:
        rating.append(i.text)
    next =  driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next.click() 
    time.sleep(3)
    
rating = rating[:100]
len(rating)

100

In [205]:
review_summary = []
start = 0
end = 10
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, '_2-N8zT')
    for i in a:
        review_summary.append(i.text)
    next_button = driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next_button.click()
    time.sleep(3)

review_summary = review_summary[:100] 

print(len(review_summary))

100

In [207]:
full_review = []
start = 0
end = 10
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, 't-ZTKy')
    for i in a:
        full_review.append(i.text)
    next =  driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next.click() 
    time.sleep(3)
    
full_review = full_review[:100]
len(full_review)

100

In [208]:
import pandas as pd 
df = pd.DataFrame({"Rating":rating, "Review summary": review_summary, "Full review":full_review})
df

,Rating,Review summary,Full review
0,5,Fabulous!,Good Camera
1,5,Just wow!,This is amazing at all
2,5,Must buy!,Photos super
3,5,Perfect product!,Feeling awesome after getting the delivery of ...
4,5,Awesome,Value for money 😍
...,...,...,...
95,5,Terrific,very good camera quality
96,5,Classy product,Value for money 🖤🖤
97,5,Highly recommended,It’s very good battery life and display and vi...
98,5,Brilliant,Purple is best
99,5,Must buy!,Good product 👌I love iPhone

In [209]:
#6
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [210]:
driver = webdriver.Chrome()

In [211]:
driver.get("https://www.flipkart.com/")

In [214]:
search = driver.find_element(By.CLASS_NAME,'Pke_EE')
search.send_keys("sneakers")
search.send_keys(Keys.ENTER)

In [215]:
brand = []
start = 0
end = 3
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, '_2WkVRV')
    for i in a[:100]:
        brand.append(i.text)
    next =  driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next.click() 
    time.sleep(3)
    
brand = brand[:100]
len(brand)

100

In [216]:
prod_desc = []
start = 0
end = 3
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, 'IRpwTa')
    for i in a[:100]:
        prod_desc.append(i.text)
    next =  driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next.click() 
    time.sleep(3)
    
prod_desc = prod_desc[:100]
len(prod_desc)

100

In [217]:
price = []
start = 0
end = 3
for page in range(start, end):
    a = driver.find_elements(By.XPATH, '//div[@class="_25b18c"]/div[1]')
    for i in a[:100]:
        price.append(i.text)
    next =  driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]/span')
    next.click() 
    time.sleep(3)
    
price = price[:100]
len(price)

100

In [218]:
import pandas as pd 
df = pd.DataFrame({"Brand":brand, "Product Description":prod_desc, "Price":price,})
df

              Brand                                Product Description   Price
0            BRUTON    !Combo Pack Of 2 Casual Shoes! Sneakers For Men    ₹297
1            BRUTON             2 Combo Sneaker Shoes Sneakers For Men    ₹497
2          URBANBOX                     Shuffle Ultra Sneakers For Men    ₹299
3            Layasa                              Buzz Sneakers For Men    ₹299
4              aadi                                   Sneakers For Men    ₹289
..              ...                                                ...     ...
95         RED TAPE  Sneaker Casual Shoes for Men | Soft Cushioned ...  ₹1,275
96           BRUTON  Exclusive Rap & Dance Shoes For Boys Sneakers ...  ₹1,187
97           BRUTON  Synthetic Leather |Lightweight|Comfort|Summer|...    ₹497
98  U.S. POLO ASSN.                                   Sneakers For Men  ₹1,299
99            asian                                   Sneakers For Men    ₹349

[100 rows x 3 columns]

In [246]:
#7
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [269]:
driver = webdriver.Chrome()

In [270]:
driver.get("https://www.amazon.in/")

In [271]:
search = driver.find_element(By.XPATH,'//div[@class="nav-search-field "]/input')
search.send_keys("Laptop")
search.send_keys(Keys.ENTER)

In [272]:
filter_checkbox = driver.find_element(By.LINK_TEXT, 'Intel Core i7')
filter_checkbox.click()

In [273]:
title = []
a = driver.find_elements(By.XPATH,'//div[@class="a-section a-spacing-none puis-padding-right-small s-title-instructions-style"]/h2')
for i in a[:10]:
    b = i.text.split("\n")[0]
    title.append(b)
    
title

['HP Laptop 15s, 12th Gen Intel Core i7-1255U, 15.6-inch (39.6 cm), FHD, 16GB DDR4, 512GB SSD, Intel Iris Xe Graphics, Backlit KB, Thin & Light (Win 11, MSO 2021, Silver, 1.69 kg), fq5190TU',
 'MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM FHD 60Hz Laptop (16GB/512GB NVMe SSD/Windows 11 Home/Intel Iris Xe Graphics/Classic Black/1.4Kg), C12M-459IN',
 'Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 15.6" (39.62cm) FHD Laptop (16GB/512GB SSD/Win 11/Office 2021/1 Year Warranty/Arctic Grey/1.65Kg), 82H803LPIN',
 'ASUS TUF Gaming F15, 15.6"(39.62 cms) FHD 144Hz, Intel Core i7-11800H 11th Gen, 4GB NVIDIA GeForce RTX 3050 Ti, Gaming Laptop (16GB/1TB SSD/Win 11/MSO/90WHrs Battery/Black/2.30 Kg), FX506HE-HN385WS',
 'MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD 144Hz Gaming Laptop (8GBx2/512GB NVMe SSD/Windows 11 Home/Nvidia GeForce RTX 3050, GDDR6 4GB/Black/1.8Kg), 11UC-1293IN',
 'ASUS Vivobook 15, Intel Core i7-12650H 12th Gen, 15.6" (39.62 cm) FHD, Thin and Light Laptop (16GB/512GB/Win11/Office 2021/Blue/1.7 kg), X1502ZA-EJ741WS',
 'ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i7-12700H 12th Gen, 4GB NVIDIA GeForce RTX 3050, Gaming Laptop (16GB/1TB SSD/Windows 11/90WHrs Battery/Gray/2.20 Kg), FX577ZC-HN192W',
 'Acer Aspire Lite Premium Metal Laptop 11th Gen Intel Core Ci7-1165G7 Thin and Light Laptop (Windows 11 Home/16GB RAM/1TB SSD/MS Office) AL15-51, 39.62cm (15.6") Full HD Display, Steel Gray, 1.59 KG',
 'Dell Inspiron 5430 Laptop, Intel Core i7-1360P Processor/ 16GB/ 1TB SSD/14.0" (35.56cm) FHD+ WVA AG with Comfortview 250 nits/Backlit KB + FPR/Win 11 + MSO\'21/15 Month McAfee/Platinum Silver/ 1.59kg',
 'HP Victus Gaming Laptop, 12th Gen Intel Core i7-12650H, NVIDIA RTX 3050 GPU, 15.6-inch (39.6 cm), 75W TGP , FHD, IPS, 144Hz, 9 ms Response time, 16GB DDR4, 512GB SSD (MSO, Blue, 2.29 kg), fa0188TX']

In [274]:
price = []
a = driver.find_elements(By.CLASS_NAME, 'a-price')
for i in a[:10]:
    b = i.text.split("\n")[0]
    price.append(b)
    
price

['₹63,990',
 '₹78,778',
 '₹49,990',
 '₹78,990',
 '₹52,990',
 '₹79,690',
 '₹75,990',
 '₹1,04,990',
 '₹64,990',
 '₹89,990']

In [284]:
rating = []
a = driver.find_elements(By.XPATH, '//i[contains(@class, "a-icon-star-small")]')
for i in a[:10]:
    b = i.get_attribute('textContent')
    rating.append(b)

print(rating)

['3.4 out of 5 stars', '3.8 out of 5 stars', '3.7 out of 5 stars', '4.2 out of 5 stars', '3.9 out of 5 stars', '3.9 out of 5 stars', '4.2 out of 5 stars', '3.5 out of 5 stars', '3.1 out of 5 stars', '4.1 out of 5 stars']

In [285]:
import pandas as pd 
df = pd.DataFrame({"Title":title, "Price":price, "Rating":rating})
df

,Title,Price,Rating
0,"HP Laptop 15s, 12th Gen Intel Core i7-1255U, 1...","₹63,990",3.4 out of 5 stars
1,"MSI Modern 14, Intel 12th Gen. i7-1255U, 36CM ...","₹78,778",3.8 out of 5 stars
2,Lenovo IdeaPad Slim 3 Intel Core i7 11th Gen 1...,"₹49,990",3.7 out of 5 stars
3,"ASUS TUF Gaming F15, 15.6""(39.62 cms) FHD 144H...","₹78,990",4.2 out of 5 stars
4,"MSI GF63 Thin, Intel Core i7-11800H, 40CM FHD ...","₹52,990",3.9 out of 5 stars
5,"ASUS Vivobook 15, Intel Core i7-12650H 12th Ge...","₹79,690",3.9 out of 5 stars
6,"ASUS TUF Gaming F15, 15.6-inch (39.62 cms) FHD...","₹75,990",4.2 out of 5 stars
7,Acer Aspire Lite Premium Metal Laptop 11th Gen...,"₹1,04,990",3.5 out of 5 stars
8,"Dell Inspiron 5430 Laptop, Intel Core i7-1360P...","₹64,990",3.1 out of 5 stars
9,"HP Victus Gaming Laptop, 12th Gen Intel Core i...","₹89,990",4.1 out of 5 stars

In [1]:
#8
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [2]:
driver = webdriver.Chrome()

In [3]:
driver.get("https://www.azquotes.com/")

In [5]:
filter_checkbox = driver.find_element(By.LINK_TEXT, 'TOP QUOTES')
filter_checkbox.click()

In [8]:
title = []
start = 0
end = 10
for page in range(start, end):
    a = driver.find_elements(By.XPATH, '//div[@class="wrap-block"]/p/a[2]')
    for i in a:
        title.append(i.text)
    next =  driver.find_elements(By.CLASS_NAME, 'next')
    time.sleep(3)
    
title = title[:1000]
len(title)

1000

In [9]:
author = []
start = 0
end = 10
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, 'author')
    for i in a:
        author.append(i.text)
    next =  driver.find_elements(By.CLASS_NAME, 'next')
    time.sleep(3)
    
author = author[:1000]
len(author)

1000

In [10]:
typeofqoute = []
start = 0
end = 10
for page in range(start, end):
    a = driver.find_elements(By.CLASS_NAME, 'tags')
    for i in a:
        typeofqoute.append(i.text)
    next =  driver.find_elements(By.CLASS_NAME, 'next')
    time.sleep(3)
    
typeofqoute = typeofqoute[:1000]
len(typeofqoute)

1000

In [11]:
import pandas as pd 
df = pd.DataFrame({"Title":title, "Author":author, "Type of qoute":typeofqoute})
df

,Title,Author,Type of qoute
0,The essence of strategy is choosing what not t...,Michael Porter,"Essence, Deep Thought, Transcendentalism"
1,One cannot and must not try to erase the past ...,Golda Meir,"Inspiration, Past, Trying"
2,Patriotism means to stand by the country. It d...,Theodore Roosevelt,"Country, Peace, War"
3,Death is something inevitable. When a man has ...,Nelson Mandela,"Inspirational, Motivational, Death"
4,You have to love a nation that celebrates its ...,Erma Bombeck,"4th Of July, Food, Patriotic"
...,...,...,...
995,"When the going gets weird, the weird turn pro.",Hunter S. Thompson,"Music, Sports, Hunting"
996,When a train goes through a tunnel and it gets...,Corrie Ten Boom,"Trust, Encouraging, Uplifting"
997,If you think you are too small to make a diffe...,Dalai Lama,"Inspirational, Funny, Change"
998,"God doesn't require us to succeed, he only req...",Mother Teresa,"Success, God, Mother"
999,Change your thoughts and you change your world.,Norman Vincent Peale,"Inspirational, Motivational, Change"

In [12]:
#9
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [13]:
driver = webdriver.Chrome()

In [14]:
driver.get("https://www.jagranjosh.com/")

In [15]:
filter_checkbox = driver.find_element(By.LINK_TEXT, 'GK')
filter_checkbox.click()

In [16]:
filter_checkbox = driver.find_element(By.LINK_TEXT, 'List of all Prime Ministers of India')
filter_checkbox.click()

In [19]:
table = driver.find_element(By.XPATH,'/html/body/div[2]/div[2]/div/div[2]/div/div[1]/div/div/div/div[4]/span/div[3]')

table_data = []

for row in table.find_elements(By.TAG_NAME,'tr'):
    row_data = []

    for cell in row.find_elements(By.TAG_NAME,'td'):
        cell_data = cell.text
        row_data.append(cell_data)
    
    table_data.append(row_data)

table_data

[[],
 ['1.',
  'Jawahar Lal Nehru',
  '(1889–1964)',
  '15 August 1947 to 27 May 1964\n16 years, 286 days',
  'The first prime minister of India and the longest-serving PM of India, the first to die in office.'],
 ['2.',
  'Gulzarilal Nanda (Acting)',
  '(1898-1998)',
  '27 May 1964 to 9 June 1964,\n13 days',
  'First acting PM of India'],
 ['3.',
  'Lal Bahadur Shastri',
  '(1904–1966)',
  '9 June 1964 to 11 January 1966\n1 year, 216 days',
  "He has given the slogan of 'Jai Jawan Jai Kisan' during the Indo-Pak war of 1965"],
 ['4. ',
  'Gulzari Lal Nanda  (Acting)',
  '(1898-1998)',
  '11 January 1966 to 24 January 1966\n13 days',
  '-'],
 ['5.',
  'Indira Gandhi',
  '(1917–1984)',
  '24 January 1966 to 24 March 1977\n11 years, 59 days',
  'First female Prime Minister of India'],
 ['6.',
  'Morarji Desai',
  '(1896–1995)',
  '24 March 1977 to  28 July 1979 \n2 year, 126 days',
  'Oldest to become PM (81 years old) and first to resign from office'],
 ['7.',
  'Charan Singh',
  '(1902–1987)',
  '28 July 1979 to 14 January 1980\n170 days',
  'Only PM who did not face the Parliament'],
 ['8.',
  'Indira Gandhi',
  '(1917–1984)',
  '14 January 1980 to 31 October 1984\n4 years, 291 days',
  'The first lady who served as PM for the second term'],
 ['9.',
  'Rajiv Gandhi',
  '(1944–1991)',
  '31 October 1984 to 2 December 1989\n5 years, 32 days',
  'Youngest to become PM (40 years old)'],
 ['10.',
  'V. P. Singh',
  '(1931–2008)',
  '2 December 1989 to 10 November 1990\n343 days',
  'First PM to step down after a vote of no confidence'],
 ['11.',
  'Chandra Shekhar',
  '(1927–2007)',
  '10 November 1990 to 21 June 1991\n223 days',
  'He belongs to  Samajwadi Janata Party'],
 ['12.',
  'P. V. Narasimha Rao',
  '(1921–2004)',
  '21 June 1991 to 16 May 1996\n4 years, 330 days',
  'First PM from South India'],
 ['13.',
  'Atal Bihari Vajpayee',
  '(1924- 2018)',
  '16 May 1996 to 1 June 1996\n16 days',
  'PM for shortest tenure'],
 ['14.',
  'H. D. Deve Gowda',
  '(born 1933)',
  '1 June 1996 to 21 April 1997\n324 days',
  'He belongs to  Janata Dal'],
 ['15.',
  'Inder Kumar Gujral',
  '(1919–2012)',
  '21 April 1997 to 19 March 1998 \n332 days',
  '------'],
 ['16.',
  'Atal Bihari Vajpayee',
  '(1924-2018)',
  '19 March 1998 to 22 May 2004 \n6 years, 64 days',
  ' The first non-congress PM who completed a full term as PM'],
 ['17.',
  'Manmohan Singh',
  '(born 1932)',
  '22 May 2004 to 26 May 2014   \n10 years, 4 days',
  ' First Sikh PM'],
 ['18.',
  'Narendra Modi',
  '(born 1950)',
  '26 May 2014 - 2019',
  '4th Prime Minister of India who served two consecutive tenures'],
 ['19.',
  'Narendra Modi',
  '(born 1950)',
  '30 May 2019- Incumbent',
  'First non-congress PM with two consecutive tenures']]

In [53]:
#10
import selenium
from selenium import webdriver 
import pandas as pd 
from selenium.webdriver.common.by import By 
from selenium.webdriver.common.keys import Keys
import warnings
warnings.filterwarnings("ignore")
import time

In [54]:
driver = webdriver.Chrome()

In [55]:
driver.get("https://www.motor1.com/")

In [56]:
search = driver.find_element(By.XPATH,'//form[@class="m1-search-form"]/input')
search.send_keys("50 most expensive cars")
search.send_keys(Keys.ENTER)

In [57]:
filter_checkbox = driver.find_element(By.LINK_TEXT, '50 Most Expensive Cars In The World')
filter_checkbox.click()

In [93]:
result = []
price = [] 
car_name = [] 
final = []

li_elements = driver.find_elements(By.XPATH, '/html/body/div[10]/div[7]/div[2]/div[1]/div[2]/div[2]/ul')

for ul in li_elements:
    a = ul.text.split("\n")
    result.append(a) 

result

[['Aston Martin Valour - $1.5 Million',
  'Mclaren Elva - $1.7 Million',
  'Czinger 21C - $1.7 Million',
  'Ferrari Monza - $1.7 Million',
  'Gordon Murray T.33 - $1.7 Million',
  'Koenigsegg Gemera - $1.7 Million',
  'McLaren Elva - $1.7 Million',
  'Zenvo TSR-S - $1.7 Million',
  'Hennessey Venom F5 - $1.8 Million',
  'Bentley Bacalar - $1.9 Million',
  'Hispano Suiza Carmen Boulogne: $1.9 Million',
  'Bentley Mulliner Batur: $2.0 Million',
  'Deus Vayanne: $2.0 Million',
  'SSC Tuatara - $2.0 Million',
  'Lotus Evija - $2.1 Million',
  'Aston Martin Vulcan - $2.3 Million',
  'Delage D12 - $2.3 Million',
  'Ferrari Daytona SP3 - $2.3 Million',
  'McLaren Speedtail - $2.3 Million',
  'Rimac Nevera - $2.4 Million',
  'Pagani Utopia: $2.5 Million',
  'Pininfarina Battista - $2.5 Million',
  'Gordon Murray T.50 - $2.6 Million',
  'Lamborghini Countach - $2.6 Million',
  'Mercedes-AMG Project One - $2.7 Million',
  'Zenvo Aurora - $2.8 Million',
  'Aston Martin Victor - $3.0 Million',
  'Hennessey Venom F5 Roadster: $3.0 Million',
  'Koenigsegg Jesko - $3.0 Million',
  'Aston Martin Valkyrie - $3.2 Million',
  'W Motors Lykan Hypersport - $3.4 Million',
  'McLaren Solus: $3.5 Million',
  'Lamborghini Sian - $3.6 million',
  'Koenigsegg CC850: $3.7 Million',
  'Bugatti Chiron Super Sport 300+ - $3.9 Million',
  'Lamborghini Veneno - $4.5 Million',
  'Bugatti Bolide - $4.7 Million',
  'Pininfarina B95 Speedster - $4.8 Million',
  'Bugatti Mistral: $5.0 Million',
  'Pagani Huayra Imola – $5.4 Million',
  'Bugatti Divo - $5.8 Million',
  'SP Automotive Chaos - $6.4 Million',
  'Pagani Codalunga: $7.4 Million',
  '777 Hypercar - $7.5 Million',
  'Mercedes-Maybach Exelero - $8.0 Million',
  'Bugatti Centodieci - $9.0 Million',
  'Rolls-Royce Sweptail - $12.8 Million',
  'Bugatti La Voiture Noire - $13.4 Million',
  'Rolls-Royce Boat Tail - $28.0 Million*',
  'Rolls-Royce La Rose Noire Droptail - $30.0 Million*']]